$colors: (
    background-main: #C9BDAF,
    light-gray:#eeeeee,
    font-main: #004D43,
    dark-gray:#555555,
    main-yellow:#ffd152,
    dark-blue:#003866,
);

$transTime:500ms;

$fonts:(
    main: Noto Sans JP,
    sub: Varela Round
)

