@use "./settings/var";
@use "./settings/mixin";

.mypage {
    @include mixin.default;
    @include mixin.font-main;
    a {
        text-decoration: none;
        color: black;
    }
    .plus-button {
        display: block;
        width: 60px;
        margin: 0 auto;
        padding: 15px;
        background-color: white;
        border: solid 1.5px map-get(var.$colors, "main-yellow");
        border-radius: 5px;
        transition: var.$transTime;
        &:hover {
            background-color: map-get(var.$colors, "main-yellow");
        }
    }
    
    .title {
        @include mixin.title;
    }
    .item {
        border: solid 1.5px map-get(var.$colors, "main-yellow");
        padding: 0 20px;
        margin: 20px 0;
        border-radius: 5px;
        transition: .2s;
        h2 {
            @include mixin.title;
            width:90%;
        }
        p {
            font-size: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &:hover{
            background-color: #FAFAFA;
        }
    }
    .head-items {
        background-color: map-get(var.$colors, "main-yellow");
        padding: 0 2.5px;
        width: fit-content;
        margin: 0;
        border-radius: 0 0 5px 5px;
        height: 30px;
        margin-right: 2.5px;
        width: 80px;
        text-align: center;
    }
    .item-heads {
        display: flex;
    }
    .submit1,.submit2 {
        background-color: #ff758f;
    }
    .date span{
        font-size: 22.5px;
    }
    input,textarea,select{
        outline:none;
    }
    select {
        @include mixin.font-main;
        font-size: 20px;
        padding-left: 5px;
        height: 40px;
        border-radius: 5px;
        border: solid 1px map-get(var.$colors, "main-yellow");
    }
}

.dli-plus {
    display: inline-block;
    vertical-align: middle;
    color: black;
    line-height: 1;
    width: 1.5em;
    height: 0.2em;
    background: currentColor;
    border-radius: 0.2em;
    position: relative;
}

.dli-plus::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    transform: rotate(90deg);
}